#### client ####

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/431memo/node_modules
/client/431memo/pnp
/client/431memo/pnp.js

# testing
/client/431memo/coverage

# next.js
/client/431memo/next/
/client/431memo/out/

# production
/client/431memo/build

# misc
/client/431memo/DS_Store
/client/431memo/*.pem

# debug
/client/431memo/npm-debug.log*
/client/431memo/yarn-debug.log*
/client/431memo/yarn-error.log*
/client/431memo/pnpm-debug.log*

# local env files
/client/431memo/env*.local

# vercel
/client/431memo/vercel

# typescript
/client/431memo/*.tsbuildinfo

#### client ####
